body {
  font-family: system-ui;
  background: #020617;
  color: white;
  margin: 0;
}

.app {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.card {
  background: #111827;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select, button {
  padding: 12px;
  border-radius: 10px;
  border: none;
}

button {
  background: #22c55e;
  color: white;
}